{% extends 'property/base_report.html' %}
{% load humanize %}
{% block title %}Report{% endblock %}
{% block body %}

<div class="tab-pane" id="tab-display-expense">
    <!-- page start-->
    <section class="panel">
        <header class="panel-heading">
            Report
        </header>
        <table class="table table-hover p-table  responsive" width="100%" id="detailed_proper">
            <thead>
            <tr>
              <th>Property </th>
              <th>Landlord </th>
              <th>Tenant</th>
              <th>Unit number</th>
              <th>Floor number</th>
              <th>Monthly rent</th>
              <th>Occupied</th>
            </tr>
            </thead>
            <tbody>
            {% for r in units %}
            <tr>
                <td class="p-name">
                    <a>{{r.property}}</a>
                </td>
                {% for p in r.unit_landlord.all %}
                <td class="p-name">
                    <a>{{p.name}}</a>
                </td>
                {% empty %}
                <td class="p-name">
                    <a>Ibgaro</a>
                </td>
                {% endfor %}
                {% if r.unit_tenant %}
                <td class="p-name">
                    <a>{{r.unit_tenant.name}}</a>
                </td>
                {% else %}
                <td class="p-name">
                    <a>empty</a>
                </td>
                {% endif %}
                <td class="p-name">
                    <a>{{r.unit_number}}</a>
                </td>
                <td class="p-name">
                    <a>{{r.floor_number}}</a>
                </td>
                <td class="p-name">
                    <a>{{r.monthly_rent | stringformat:'d' | intcomma}}</a>
                </td>
                <td class="p-name">
                  {% if r.occupied %}
                       <a>occupied</a>
                  {% else %}
                       <a>vaccant</a>
                   {% endif %}
                </td>
                {% empty %}
                <td class="p-name">
                    <a>There are no matching prperty for your query </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <!-- page end-->

</div>
{% endblock %}
