{% extends 'property/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}


<div>
              <div class="row">
                <div class="col-md-8">
                    <section class="panel">
                        <div class="bio-graph-heading project-heading " style="background-color: #2a3542">
                            <strong> [Ibgaro Realtors Lrd ] </strong>
                        </div>
                        <div class="panel-body bio-graph-info">
                            <!--<h1>New Dashboard BS3 </h1>-->
                            <div class="row p-details">
                                <div class="bio-row">
                                    <h4><span class="bold">Property Code </span>: {{ expense.property_code }}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">Description</span>: {{ expense.Description }}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">Amount Incurred</span>:{{ expense.Amount | stringformat:'d' | intcomma }}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">Date</span>:{{expense.Date}} </h4>
                                </div>





                            </div>

                        </div>

                    </section>



                </div>

            </div>
</div>
            {% endblock %}
