{% extends 'property/base.html' %}
{% load static %}
{% block body %}


<div>
              <div class="row">
                <div class="col-md-8" id="print-rent">
                    <section class="panel">
                        <div class="bio-graph-heading project-heading " style="background-color: #2a3542">
                            <strong> [  Rent  Details ] </strong>
                        </div>
                        <div class="panel-body bio-graph-info">
                            <!--<h1>New Dashboard BS3 </h1>-->
                            <div class="row p-details">
                                <div class="bio-row">
                                    <h4><span class="bold"> Unit  </span>: {{ rent.unit }}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">Tenant</span>:
                                      {{rent.unit.unit_tenant.name}}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">rent paid</span>:{{ rent.rent}}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">service fee charges</span>:{{ rent.service_charge}}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">Date paid</span>:{{ rent.date_paid}}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">balance</span>:{{ rent.Balance}}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">total amount paid</span>:{{ rent.total_amount_paid}}</h4>
                                </div>



                            </div>

                        </div>

                    </section>



                </div>
                  <button type="button" class="print">Print!</button>
                  </button>
            </div>
</div>

<script type='text/javascript'>
$(function() {
$("#print-rent").find('.print').on('click', function() {

$("#print-rent").print({

// Use Global styles
globalStyles : false,

// Add link with attrbute media=print
mediaPrint : false,

//Custom stylesheet
stylesheet : "http://fonts.googleapis.com/css?family=Inconsolata",

//Print in a hidden iframe
iframe : false,

// Don't print this
noPrintSelector : ".avoid-this",

// Add this on top
append : "Free jQuery Plugins<br/>",

// Add this at bottom
prepend : "<br/>jQueryScript.net",

// Manually add form values
manuallyCopyFormValues: true,

// resolves after print and restructure the code for better maintainability
deferred: $.Deferred(),

// timeout
timeout: 250,

// Custom title
title: null,

// Custom document type
doctype: '<!doctype html>'

});
});
</script>
            {% endblock %}
