{% extends 'property/base.html' %}
{% load static %}
{% block body %}
{% load humanize %}
<div>
              <div class="row">
                <div class="col-md-8" id="print-rent">
                    <section class="panel">
                      <img src="{% static 'property/img/ibgaro.png' %}" class="img-responsive" style=" width:300px;height:300px; border-radius:30%;padding:0px;margin-top:-50px;margin-bottom:-150px">
                        <div class="bio-graph-heading project-heading " style="background-color: #2a3542">

                            <strong> [Ibgaro Realtors Ltd ] </strong>
                        </div>
                        <div class="panel-body bio-graph-info">
                            <!--<h1>New Dashboard BS3 </h1>-->
                            <div class="row p-details">
                                <div class="bio-row">
                                    <h4><span class="bold"> Unit  </span>: {{ rent.unit }}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">Tenant</span>:
                                      {{rent.unit.unit_tenant.name}}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">rent paid</span>:{{ rent.rent | stringformat:'d' | intcomma}}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">service fee charges</span>:{{ rent.service_charge  | stringformat:'d' | intcomma}}</h4>
                                </div>
                                <div class="bio-row">
                                    <h4><span class="bold">Date paid</span>:{{ rent.date_paid}}</h4>
                                </div>
                                {% if rent.credit > 0 %}
                                <div class="bio-row">
                                    <h4><span class="bold">credit</span>:{{ rent.credit | stringformat:'d' | intcomma}}</h4>
                                </div>
                                {% else  %}
                                <div class="bio-row">
                                    <h4><span class="bold">balance</span>:{{ rent.Balance | stringformat:'d' | intcomma}}</h4>
                                </div>
                                {% endif %}
                                <div class="bio-row">
                                    <h4><span class="bold">total amount paid</span>:{{ rent.total_amount_paid | stringformat:'d' | intcomma}}</h4>
                                </div>

                                <div class="bio-row">
                                    <h4><span class="bold">Served by</span>:{{ rent.recorded_by.full_name}}</h4>
                                </div>



                            </div>

                        </div>

                    </section>



                </div>

            </div>
              <input type="button" value="Print Reciept" onclick="javascript:printerDiv('print-rent')" />
</div>

<script language="javascript" type="text/javascript">
function printerDiv(divID) {
//Get the HTML of div

var divElements = document.getElementById(divID).innerHTML;

//Get the HTML of whole page
var oldPage = document.body.innerHTML;

//Reset the pages HTML with divs HTML only

     document.body.innerHTML =

     "<html><head><title></title></head><body>" +
     divElements + "</body>";



//Print Page
window.print();

//Restore orignal HTML
document.body.innerHTML = oldPage;

}
</script>

<style media="print">
  @media print {
  body {
    width: 8px;
    height: 4px;

  }



}
</style>
            {% endblock %}
